@font-face {
  font-family: "calibre";
  src: url("../fonts/Calibre-Regular.woff2");
}

@font-face {
  font-family: "calibre-semibold";
  src: url("../fonts/Calibre-Semibold.woff2");
}

@font-face {
  font-family: "sfmono";
  src: url("../fonts/SFMonoRegular.otf");
}
